<div class="side__apart_sidebar" id="side__part">
    <div class="open__button" id="open_button" onclick="open_sidebar()">&raquo;</div>
    <div class="close__button" id="close_button" onclick="close_sidebar()">&laquo;</div>
    <div class="adminapp__sidebar" id="admin_sidebar">
        <div class="sidebar__component">
            <div class="sidebar__component_title">Authapp</div>
            <div class="sidebar__component_class"><a style="text-decoration: none; font-size: 18px; margin-left: 15px;" href="#">ShopUsers</a></div>
        </div>
        <div class="sidebar__component">
            <div class="sidebar__component_title">Mainapp</div>
            <div class="sidebar__component_class"><a style="text-decoration: none; font-size: 18px; margin-left: 15px;" href="#">Products</a></div>
            <div class="sidebar__component_class"><a style="text-decoration: none; font-size: 18px; margin-left: 15px;" href="#">Product categories</a></div>
        </div>
        <div class="sidebar__component">
            <div class="sidebar__component_title">Orderapp</div>
            <div class="sidebar__component_class"><a style="text-decoration: none; font-size: 18px; margin-left: 15px;" href="#">Orders</a></div>
            <div class="sidebar__component_class"><a style="text-decoration: none; font-size: 18px; margin-left: 15px;" href="#">Order items</a></div>
        </div>
    </div>
</div>