{% extends 'base_adminapp_page.html' %}
{% load static %}

{% block title %}DjangoShop | AdminApp Main Page{% endblock %}
{% block css %}
        <link rel="stylesheet" href="{% static 'css/main_admin_page_styles.css' %}">
{% endblock %}

{% block content %}
    <div class="adminapp__users" id="adminapp">
        <div class="action__start">
            <p class="action__title">Select user to change</p>
            <a href="{% url 'adminapp:admin_user_create_page' %}" class="add__user_action">Add user +</a>
        </div>
        <table class="action__fields">
            <thead>
                <tr style="background: #ebebeb;">
                    <td style="text-align: center;">Id</td>
                    <td style="text-align: center;">Username</td>
                    <td style="text-align: center;">Age</td>
                    <td style="text-align: center;">Account photo</td>
                </tr>
            </thead>
            <tbody>
                {% for user in object_list %}
                    {% if forloop.counter0|divisibleby:"2" %}
                        <tr style="background-color: white; height: 90px;">
                            <td style="text-align: center;"><a href="{% url 'adminapp:admin_user_update_page' pk=user.id username=user.username %}" style="text-decoration: none;">{{ user.id }}</a></td>
                            <td style="text-align: center;"><a href="{% url 'adminapp:admin_user_update_page' pk=user.id username=user.username %}" style="text-decoration: none;">{{ user.username }}</a></td>
                            <td style="text-align: center;">{{ user.age }}</td>
                            {% if user.photo %}
                                <td style="text-align: center;"><img src="{{ user.photo.url }}" style="width: 80px; height: 80px;"></td>
                            {% else %}
                                <td style="text-align: center;"><img src="{% static 'default_images/default_user_photo.webp' %}" style="width: 80px; height: 80px;"></td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr style="background-color: #ebebeb; height: 90px;">
                            <td style="text-align: center;"><a href="{% url 'adminapp:admin_user_update_page' pk=user.id username=user.username %}" style="text-decoration: none;">{{ user.id }}</a></td>
                            <td style="text-align: center;"><a href="{% url 'adminapp:admin_user_update_page' pk=user.id username=user.username %}" style="text-decoration: none;">{{ user.username }}</a></td>
                            <td style="text-align: center;">{{ user.age }}</td>
                            {% if user.photo %}
                                <td style="text-align: center;"><img src="{{ user.photo.url }}" style="width: 80px; height: 80px;"></td>
                            {% else %}
                                <td style="text-align: center;"><img src="{% static 'default_images/default_user_photo.webp' %}" style="width: 80px; height: 80px;"></td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}